<div class="shopping-cart">
  <div class="cart-header d-flex align-items-center justify-content-between">
    <div class="head-title">
      <h2 class="title">Shopping cart</h2>
      <span class="n-items">
        you have
        <span class="text-danger">{{ cartProducts.length }}</span> items in your
        cart
      </span>
    </div>

    <button
      class="btn btn-outline-danger"
      (click)="clearCart()"
      [disabled]="cartProducts.length == 0"
    >
      Clear Shopping Cart
    </button>
  </div>
  <div class="cart-body" *ngIf="cartProducts.length > 0; else noData">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts; let i = index">
            <td>
              <img src="{{ product.item.image }}" alt="" />
            </td>
            <td>{{ product.item.title }}</td>
            <td>{{ product.item.price }} L.E</td>
            <td>
              <div class="quantity d-flex align-items-center">
                <button class="btn btn-info" (click)="addAmount(i)">+</button>
                <input
                  type="number"
                  class="form-control text-center"
                  [(ngModel)]="product.quantity"
                  min="1"
                  (change)="detectChanges()"
                />
                <button class="btn btn-info" (click)="minusAmount(i)">-</button>
              </div>
            </td>
            <td>{{ product.item.price * product.quantity }} l.E</td>
            <td>
              <button class="btn btn-danger" (click)="deleteCartProduct(i)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="cart-footer" *ngIf="cartProducts.length > 0">
    <div class="total">
      Total:
      <span>{{ total }} L.E</span>
    </div>
    <button class="btn btn-success" (click)="addCart()">Order Now</button>
  </div>

  <ng-template #noData>
    <div class="img text-center">
      <img src="assets/images/not-found.webp" alt="" />
      <p class="m-0">No Items was Added</p>
    </div>
  </ng-template>

  <div class="alert alert-success mt-5" *ngIf="success">Well Done! Your Order Is Successfully Send.</div>
</div>

